/*
=============== 
Footer
===============
*/
.footer {
  min-height: 20vh;
  padding: 2rem;
  background-color: $clr-dark;
  color: $clr-secondary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 50%;
  flex-wrap: wrap;
  text-align: center;
}
.copy {
  width: 100%;
  align-self: flex-end;
  margin-top: 2rem;
}
.social-icon i {
  padding: 0.5rem;
  font-size: 1.5rem;
  color: $clr-secondary;
  transition: $transition;
  &:hover {
    color: $clr-primary-1;
    transform: scale(1.25);
  }
}
.contact-container {
  display: grid;
  place-items: center;
  h4 {
    margin-bottom: 0;
    text-transform: lowercase;
    i {
      font-size: 1.2rem;
    }
  }
}
