/*
=============== 
Footer
===============
*/
.footer {
  min-height: 20vh;
  padding: 2rem;
  background-color: $clr-dark;
  color: $clr-secondary;
  display: flex;
  justify-content: space-around;
  flex: 0 0 50%;
  flex-wrap: wrap;
  text-align: center;
}
.copy {
  width: 100%;
  align-self: flex-end;
}
